<!-- Riht content -->
<div class="col-lg-4">

    {% for featured_post in featured_post_right %}
    <div class="trand-right-single d-flex">
        <div class="trand-right-img">
            <img src="{{featured_post.featured_image.url}}" alt="{{featured_post.title}}" width="150" height="120">
        </div>
        <div class="trand-right-cap">
            <span class="color1">{{featured_post.Category.name}}</span>
            <h4><a href="{% url 'post-details' featured_post.pk%}">{{featured_post.title}}</a></h4>
        </div>
    </div>


    {% endfor %}
</div>